* {
  box-sizing: border-box;
  font-size: 24px;
}

body {
  position: relative;
}

@keyframes fadeInCustom {
  from {
    transform: translate3d(0, 60px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInCustom {
  from {
    transform: translate3d(0, 60px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* Animation */
.animated {
  animation-duration: 0.1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeInCustom_init {
  opacity: 0;
}

.fadeInCustom {
  opacity: 0;
  animation-name: fadeInCustom;
  -webkit-animation-name: fadeInCustom;
}

.wrapper {
  width: 60%;
  /*margin: 0 auto;*/
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
  -moz-box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
  box-shadow: 3px 4px 7px -2px rgba(42, 206, 235, 1);
}
#users-list {
  list-style: none;
}
#users-list li {
  margin: 40px;
  padding: 30px;
}

#users-list > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#users-list li[data-connect="disconected"] {
  text-decoration: line-through;
}

#track {
  color: rgb(255, 0, 0);
}

#track > span {
  color: rgb(0, 117, 80);
}

.progress {
  width: 300px;
  height: 30px;
  background-color: darkgrey;
}

.progress > div {
  background-color: darkgreen;
  height: inherit;
  width: 0;
}

.form_wrapper {
  text-align: center;
}

.hidden {
  display: none;
}

.comments {
  position: absolute;
  top: 40px;
  right: 40px;
  text-align: center;
  width: 300px;
  height: 300px;
}

.commentator {
  /*   background-image: url(commentator.png);
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100%;
}
